@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

body {
  font-family: 'Poppins', sans-serif; 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3cpath d='M1132.187%2c650.486C1172.501%2c648.313%2c1198.247%2c611.191%2c1216.394%2c575.126C1232.365%2c543.387%2c1236.187%2c507.432%2c1220.116%2c475.743C1202.286%2c440.586%2c1171.604%2c408.602%2c1132.187%2c409.085C1093.33%2c409.561%2c1067.326%2c444.189%2c1047.91%2c477.851C1028.512%2c511.481%2c1013.607%2c550.25%2c1030.638%2c585.138C1049.565%2c623.908%2c1089.107%2c652.808%2c1132.187%2c650.486' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M180.92510100342477 133.55039099022542L366.12383483727945 166.38794108655964 312.5945757361437 10.92768453111367z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M39.546%2c309.336C60.595%2c309.126%2c81.311%2c301.091%2c92.329%2c283.155C103.851%2c264.397%2c104.559%2c240.565%2c93.472%2c221.547C82.461%2c202.659%2c61.409%2c192.727%2c39.546%2c192.618C17.476%2c192.508%2c-4.015%2c202.049%2c-15.32%2c221.004C-26.89%2c240.403%2c-27.01%2c265.039%2c-15.092%2c284.226C-3.757%2c302.475%2c18.064%2c309.55%2c39.546%2c309.336' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M811.127%2c249.012C839.075%2c248.702%2c854.657%2c220.04%2c868.365%2c195.682C881.693%2c171.999%2c895.187%2c145.42%2c883.132%2c121.064C869.998%2c94.528%2c840.701%2c78.62%2c811.127%2c80.035C783.566%2c81.354%2c762.653%2c102.832%2c750.143%2c127.426C738.875%2c149.579%2c740.504%2c174.76%2c751.647%2c196.976C764.306%2c222.214%2c782.894%2c249.325%2c811.127%2c249.012' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1444.234%2c430.203C1478.306%2c429.248%2c1500.481%2c398.546%2c1517.368%2c368.938C1534.045%2c339.699%2c1548.316%2c305.478%2c1532.244%2c275.902C1515.642%2c245.35%2c1478.972%2c232.831%2c1444.234%2c234.35C1412.13%2c235.754%2c1384.745%2c255.262%2c1368.617%2c283.057C1352.42%2c310.969%2c1348.887%2c344.544%2c1363.637%2c373.247C1379.753%2c404.607%2c1408.989%2c431.191%2c1444.234%2c430.203' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1363.8763454718674 285.0623666931393L1276.964302054641 203.8605813878495 1251.8105034135722 304.7469573834476z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}


.head__custom-nav .navbar-brand img {
  width: 18px;
  height: 18px; }
.head__custom-nav .navbar-brand span {
  font-weight: 700;
  font-size: 22px;
  margin-left: 10px; }

  .head__custom-nav button {
  padding: 0; }
  .head__custom-nav button span img {
    width: 45px; }

    .head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 400;
  padding: 8px 15px;
  white-space: nowrap;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: dodgerblue; }

.custom-section {
  width: inherit;
  padding: 40px 0; }
  
  @media screen and (max-width: 991.98px) {
    .custom-section {
      flex-direction: column-reverse; } }
  .custom-section .col-lg-4 {
    margin-top: 100px; }
    .custom-section .col-lg-4 h2 {
      font-weight: 700;
      font-size: 63px;
      color: #000;
      margin-bottom: 0;
      line-height: 1;
      white-space: nowrap; }
     .custom-section .col-lg-4 h3 {
      font-weight: 300;
      font-size: 64px;
      color: #000;
      line-height: 1; }
    .custom-section .col-lg-4 p {
      color: #000;
      font-size: 14px;
      margin-top: 30px; }
    .custom-section .col-lg-4 a {
      display: inline-block;
      padding: 8px 22px;
      color: #fff;
      background-color: #1EA5F7;
      border: 1px solid transparent;
      margin-top: 60px;
      text-decoration: none;
      transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .custom-section .col-lg-4 a:hover {
        color: #1EA5F7;
        background-color: #fff;
        border: 1px solid #1EA5F7; }
.custom-section .col-lg-8 img {
    width: 100%;
    position: absolute;
    top: -14rem;
    right: -11%; }
    
@media screen and (max-width: 991.98px) {
      .custom-section .col-lg-8 img {
        width: 100%;
        position: relative;
        top: 0;
        right: 0; } }
.custom-section .col-lg-8 .animate-img img {
    width: 118px;
    position: absolute;
    top: -13.5rem;
    right: 2.9rem; }

.col-12 span{
    color: dodgerblue;
}
.cont {
    
    max-width: 50vw;
    margin: auto;
    align-items: center;
    text-align: center;

}
.cont button {
  margin: 2px;
}
.para {
    margin-top: 30px;
    width: 50vw;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    font-size: 2rem;
}
.container {
    margin-bottom: 6rem;
}
 .btn  :hover{
   background-color: white;
   border: 2px dodgerblue;
}
.cont a{
  text-decoration: none;
  color:  white;
}
.cont a:hover{
  color: white;
  background-color: #094bac;
}

